.container {
    width: 100%;
    max-width: 607px;
    height: 829px; 
    margin: 0 auto;
    margin-top:75px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    background-image: linear-gradient(180deg, rgba(17, 92, 197, 0.7), rgba(10, 139, 179, 0.7) 100%);
    background-clip: content-box; 
}


.top-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}

.top-bar input {
    display: flex;
    width: 362px;
    height: 78px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image {
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white
}

.element {
margin: auto;
display: flex;
align-items: flex-start;
gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.icon {
  margin-top: 10px;  
}

/* Media Query for Tablets (e.g., iPad) */
@media (max-width: 768px) {
    .container {
      padding: 10px; 
    }
    .weather-temp {
      font-size: 48px; 
    }
    .weather-location {
      font-size: 24px; 
    }
    
  }
  
  /* Media Query for Smartphones */
  @media (max-width: 480px) {
    .container {
      padding: 5px; 
    }

    .top-bar {
        padding-top: 10px;
      }     
    .search-icon {
        width: 36px; 
        height: 36px;
      }
    .weather-temp {
      font-size: 36px; 
    }
    .weather-location {
      font-size: 18px; 
    }
    .element {
        margin: 10px 0; 
        padding: 5px; 
    }
    .data {
      font-size: 16px; 
    }
    .text {
      font-size: 12px; 
    }

  }