* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('4205986.jpg'); /* Replace with your image URL */
  background-size: cover; /* Adjust background size as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: makes the background fixed */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
